body
  {
    background-color: #caa6ae;
  }


* {
    padding: 0;
    margin: 0;
    font-family: times new roman;
  }

a 
  {
    color: inherit;
    text-decoration: none;
  }

.media
  {
    padding: 5px 0;
    background-color: #6C2525;
  }

.media ul li
  {
    display: inline-block;
    color: white;
    margin-right: 10px;
  }

.content
  {
    width: 80%;
    margin: 0 auto;
  }

.content:after
  {
    content:'';
    display: block;
    clear: both;
  }


header h1
  {
    float: left;
    padding: 15px 0;
    color: #6C2525 ;
  }

header ul
  {
    float: right;
  }

header ul li 
  {
    display: inline-block;
  }

header ul li a 
  {
    padding: 25px 15px;
    display: inline-block;
  }

header ul li a:hover
  {
    background-color: #6C2525;
    color: #fff;
  }

.active
  {
   background-color: #6C2525;
   color: #fff; 
  }

.banner
  {
   height: 80vh;
   background-size: cover;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
  }

.banner:after
  {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(108, 37, 37, .6);
  }

.banner h2
  {
    color: #fff;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid #fff;
  }

section
  {
    padding: 20px 0;
    color: #fff;
    word-spacing: 2px;
    line-height: 25px;
    margin-bottom: 20px; 
  }

section h3
  {
    text-align: center;
    padding: 20px 0;
    color: #6C2525;
    margin-bottom: 20px;
  }


.about p 
  {
    color: black;
    word-spacing: 2px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  

.education p 
  {
    color: black;
    word-spacing: 2px;
    line-height: 30px;
    margin-bottom: 20px; 
  }

.family p 
  {
    color: black;
    word-spacing: 2px;
    line-height: 30px;
    margin-bottom: 20px; 
  }


.education
  {
    background-color: #108, 37, 37 ;
  }


section h4
  {
    text-align: center;
    padding: 20px 0;
    color: #6C2525;
    margin-bottom: 20px;
  }

.bg-loader
  {
    background-color: #eee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.bg-loader .loader
  {
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
    border-radius: 50%;
    border-top-color: #6C2525;
    border-right-color: #6C2525;
    border-bottom-color: #6C2525;
    animation: pusing .8s linear infinite;
  }

.label
  {
    background-color: #6C2525;
    color: #fff;
  } 


@keyframes pusing
  {
    100% 
    {
     transform: rotate(360deg);
    }
  }

















